body
{
font-size: 1.4em;
}

label
{
background-color: lightblue;
margin: 4px;
}

input.correct
{
    background-color: green;
    border: solid 1px green;
    display:block;
    float:left;
    padding: 10px;
}
table.rep
{
    font-size: .5em;
}
tr.current
{
    font-weight: bold;
}

tr.totals td
{
    font-weight: bold;
}
table.stt, .stt
{
    float:right;
    border: solid 1px black;
    
    font-size: 0.5em;
}
table.cright
{
    clear:left;
}
table#r0
{
    clear:right;
}
tr.oldid td
{
    color: green;
    font-weight: bold;
}
